
table {
  width: 100%;
  text-align: left;
}

th.mat-sort-header-sorted {
  color: black;
}


.button{
  margin: 10px;
}

.buttonGreen{
  background-color: green;
}

.buttonOrange{
  background-color: orange;
}

.buttonRed{
  background-color: red;
}

//table {
//  width: 100%;
//  text-align: left;
//}
//table, th, td {
//  border: 1px solid black;
//}
